
            h1 {
                font-size: 50px;
                text-align: center;
                align-items: center;
            }

            section {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .container {
                margin:0 auto;
                display:flex;
                flex-wrap: wrap;
                justify-content: space-around;
                
            }
            
            .portfolio-entry {
                width: 465px;
                height: auto;
                border: 2px dashed;
                margin: 5px;
                padding: 20px;
            }
            
            .portfolio-entry h2 {
                text-align: center;
                background-color: black;
                color: white;
                padding: 5px;
            }
            
            .portfolio-image img {
                width: 100%;
                height: auto;
                position: absolute;
                
                
            }
            
            .portfolio-image {
                height: 215px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                
                
            }
            
            .portfolio-entry a {
                text-decoration: none;
                color: blue;
                font-size: 20px;
            }
            
            .portfolio-entry p {
                text-align: center;
            }
            
           button.open-popup {
               position: absolute;
               display: none;
               background: none;
               border: none;
               font-size: 30px;
               font-weight: 700;
           }
            
            .portfolio-modal {
                    position: absolute;
                    width: 75%;
                    
                    
                    box-shadow: 1px 1px 14px;
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 50px;
                    background-color: #ffffff;
                    top: 15px;
            }
            .modal-image {
                width: 50%;
                height: auto;
            }
            
            .modal-image img {
                width: 100%;
                height: auto;
            }
            .close {
                cursor: pointer;
                width: 50px;
                height: 50px;
                position:absolute;
                top: 50px;
                right: 100px;
                border-radius: 100%;
                font-size: 20px;
                border-left: 1px dotted;
                border-bottom: 1px dotted;
                text-align: center;
                padding-top:20px;
                padding-right: 10px;
                padding-left: 10px;
            }
            
            .portfolio-modal p {
                font-size: 20px;
            }
            
