 html {
              font-family: 'Assistant', sans-serif;
               }
            h1 {
                font-size: 50px;
                text-align: center;
                align-items: center;
               }

            div.portfolio-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: "Assistant", sans-serif!important;
               }
.portfolio-section h2 {
font-size: 24px!important;
font-family: "Assistant", sans-serif!important;
text-transform: none!important;
}
            .container {
                margin:0 auto;
                display:flex;
                flex-wrap: wrap;
                justify-content: space-around;
                
               }
            
            .portfolio-entry {
                width: 465px;
                height: auto;
                box-shadow: 1px 1px 14px #00000075;
                margin: 5px 5px 50px 5px;
                padding: 20px;
                border-radius: 5px;
              
               }
            
            .portfolio-entry h2 {
                text-align: center;
                
                padding: 5px;
               }
            
            .portfolio-entry a {
                text-decoration: none;
                color: blue;
                font-size: 20px;
               }
            
            .portfolio-entry p {
                text-align: center;
              box-shadow: 1px 1px 2px #00000075;
              padding: 5px 0;
                }
            
            .portfolio-entry p:hover {
              
              background-color: whitesmoke;
                }

            .portfolio-image img {
                width: 100%;
                height: auto;
                position: absolute;
                -webkit-transition: opacity .4s; /* Safari */
                transition: opacity .4s;
             
               
                }
 
            
            
            .portfolio-image {
                height: 215px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                overflow: hidden;
                box-shadow: 1px 1px 15px #00000014;
            }
            
           
            
           button.open-popup {
               position: absolute;
               display: none;
color:#000!important;
               background: none;
               border: none;
               font-size: 30px;
               font-weight: 700;
           }
            
            .portfolio-modal {
                    position: fixed;
                    width: 50%;
                    box-shadow: 1px 1px 14px #00000075;
                    display: none;
                   
                    flex-direction: column;
                    align-items: center;
                    padding-top: 50px;
                    background-color: #ffffff;
                    z-index: 999;
                    top: 200px;
                    min-width: 500px;
            }
            .portfolio-modal p {
                font-size: 20px;
/*                 padding: 0 100px; */
            }

            .modal-image {
                width: 90%;
                height: auto;
               
            }
            
            .modal-image img {
                width: 100%;
                height: auto;
            }
            .close {
                cursor: pointer;
                width: 50px;
                height: 50px;
                color: #00000045;
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: space-around;
                right: 0;
                border-radius: 100%;
                font-size: 30px;
                background-color: white;
                border-left: 2px solid;
                border-right: 2px solid;
                text-align: center;
                font-family: 'Roboto', sans-serif;
            }
            
            
            
            .modal-meta {
              width: 90%;
            }
            
           
  


@media screen and (max-width: 800px) {
                .portfolio-entry {
                 width: 90%;
             }
                .portfolio-image {
                 height: 275px;
             }
   .portfolio-modal {
     width: 90%;
  }
  
}

@media screen and (max-width: 500px) {
  .portfolio-modal {
    min-width: 360px!important;
  }
}

@media screen and (max-width: 500px) {
.portfolio-image {
    height: 205px;
}
}

@media screen and (max-width: 400px) {
.portfolio-image {
    height: 140px;
}
}

